.model__title {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 0;  
    font-size: xx-large; 
}

.model__list {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;  
    padding-left: 0; 
    flex-wrap: wrap;
}
.model__list-item{
    width: 350px;
    padding: 15px;
    background-color: rgb(192, 199, 207);
    color: rgb(0, 0, 0);
    box-shadow: 1px 2px 20px 5px #d7d7d7;
   }
.model__car{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.model__price{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
} 
.model__list-item{
    margin-top: 0;
    margin-bottom: 15px;
}
.model__link{
    display: block;
    padding: 10px;
    background-color: rgb(109, 131, 149);
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
} 
.model__list{
    margin: 0;
    padding: 20px 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    list-style-type: none;
}

.model__price{
    margin: 0;
    padding: 20px 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    list-style-type: none;
}

.model__car{
    display: flex;
    flex-direction: column;
}
.model__car{
    margin-top: auto;
}

.model__price{
    display: flex;
    flex-direction: column;
}
.model__price{
    margin-top: auto;
}

.model__img{
    width: 100%;
    height: 400;
    object-fit: cover;
}
.model__link {
    background-color: rgba(176, 196, 222, 0.613);
    border-color: rgb(176, 196, 222);
    border-radius: 10px;
    width: 200px;
    color: black;
    display: block;
    position: center;
    bottom: 15px; 
    margin-left: auto;
    margin-right: auto;
}
.model__link:hover {
    background-color: rgb(146, 175, 212);
    border-color: rgb(146, 175, 212);
    cursor: pointer;
    transition: 0.2s;
}
.model__link:focus {
    outline: none;
    cursor: pointer;
    background-color: rgb(146, 175, 212);
    border-color: rgb(146, 175, 212);
}
.model__link:active {
    background-color: rgb(146, 175, 212);
    border-color: rgb(146, 175, 212);
}


.main {
    padding: 20px;
}

.registraion {
    background-color: rgb(212, 220, 226);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.registraion h2 {
    margin-top: 0;
    color: blanchedalmond;
}

.registraion input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px rgb(235, 219, 219);
    border-radius: 4px;
    background-color: aliceblue;
}

.registraion button {
    width: 100%;
    padding: 10px;
    background-color: rgb(209, 201, 187);
    color: aliceblue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.about__title {
    text-align: center;
    font-size: 40px;
}

.about__link {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    text-align: center;
    background-color: rgb(62, 120, 167);
    color: rgb(255, 255, 255);
    text-decoration: none;   
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.services {
    text-align: center;
    font-size: 20px;
    background-color: rgb(189, 200, 210);
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}
.services__title {
    width: 100%;
}

.popular__models {
    text-align: center;
    font-size: 20px;
    background-color: rgb(189, 200, 210);
}

.services__image {
    margin: 0 auto;
    width: 290px;
}

.about__image {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.popular__image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.about {
    display: flex;
    gap: 10px;
}

.about__wrap-right {
    width: 500px;
    flex-shrink: 0;
}

.about {
    background-color: rgb(190, 206, 222);
    color: rgb(11, 11, 11);
    padding: 10px;
    margin-top: 50px;
}

.about__button {
    display: block;
    padding: 10px;
    color: rgb(79, 83, 87);
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    margin-top: auto;
    margin-right: auto;
}

.about__wrap-left {
    display: flex;
    flex-direction: column;
}

.popular__card {
    width: 350px;
    padding: 15px;
    background-color: rgb(226, 234, 241);
    color: black;
    box-shadow: 1px 2px 20px 5px #d7d7d7;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.popular__card { 
    background-color: rgb(214, 214, 214);
    color: black;  
    border-radius: 5px; 
    border-style: solid; 
    border-width: 1px; 
    border-color:white;
    height: 500px;
    width: 1000px;
    flex-shrink: 0;
    list-style-type: none;  
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    margin-top: 20px;
}
.car__name {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.popular__year {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 14px;
    font-style: italic;
}

.doctors__desc {
    margin-top: 0;
    margin-bottom: 15px;
}

.popular__link {
    display: block;
    padding: 10px;
    background-color: rgb(62, 120, 167);
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    margin-top: auto;
}

.popular__list {
    padding: 20px ;
    display: flex;
    gap: 20px;
    list-style-type: none;
    position: relative;
}

.form__login{
    position: relative;
}
.form__registration {
    position: relative;
}

.record__form {
    position: absolute;
    top: 0;
    left: 500px;
    width: 400px;
    background-color: rgb(190, 206, 222);
    margin: auto;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.record__input {
    width: 100%;
}
.record__title {
    text-align: center;
}
.record__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(62, 120, 167);
    color: rgb(255, 255, 255);   
    transition: background-color 0.3s ease; 
}
.record {
    margin-bottom: 20px;
    position: fixed;
    background-color: rgba(22, 21, 21, 0.445);
    justify-content: center;
    top: 10px;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
}
.services__item-link{
    color: black;
    text-decoration: none;
    padding: 100;
    color: rgb(18, 18, 19);
    text-decoration: none;
}
.about__link {
    background-color: rgb(62, 120, 167);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.about__link:active {
    background-color: #6ba1d8;
}
.services__item-link:hover {
    color:rgb(53, 96, 235);
    text-decoration: underline;
}
.doctors__card:hover {
    background-color: rgb(88, 147, 236);
    transform: scale(1.01);
}
.about__link:hover {
    background-color: rgb(88, 147, 236);
    transform: scale(1.01);
}
.record__button:hover {
    background-color: rgb(88, 147, 236);
    transform: scale(1.01);
}
.procedures__card {
    width: 380px;
    padding: 15px;
    background-color: rgb(226, 234, 241);
    color: black;
    box-shadow: 1px 2px 20px 5px #d7d7d7;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.procedures {
    text-align: center;
    font-size: 20px;
    background-color: rgb(189, 200, 210);
}

.procedures__image {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.procedures__list {
    padding: 20px 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    list-style-type: none;
    margin-left: 110px;
    margin-right: auto;
}
.procedures__card:hover {
    background-color: rgb(88, 147, 236);
    transform: scale(1);
}
.popular__link:active {
    background-color: #6ba1d8;
}
.popular__link:hover {
    background-color: rgb(10, 40, 88);
    transform: scale(1.01);
}
.slider__left {
    float: left;
    background-color: rgb(62, 120, 167);
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;

}
.slider__left:hover {
    background-color: rgb(88, 147, 236);
    transform: scale(1.01);
}
.slider__right {
    float: right;
    background-color: rgb(62, 120, 167);
    color: rgb(255, 255, 255);
    transition: background-color 0.3sease;
}
.slider__right:hover {
    background-color: rgb(88, 147, 236);
    transform: scale(1.01);
}
.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 60px 90px;
}
.slider__center {
    width: 720px;
    overflow: hidden;
}
.services__group {
    column-count: 2;
}
.record__button {
    text-align: center;
    background-color: rgb(62, 120, 167);
    color: rgb(255, 255, 255);
    text-decoration: none;   
    transition: background-color 0.3s ease, transform 0.3s ease; 
}
.record__link {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: black;
}
.record__link:hover {
    color:rgb(53, 96, 235);
    text-decoration: underline;
    }
.form-registration__close:hover {
    background-color: rgb(88, 147, 236);
    transform: scale(1.01);
}
.form-registration__close {
    display: left;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(62, 120, 167);
    color: rgb(255, 255, 255);   
    transition: background-color 0.3s ease; 
}
.form-login__close:hover {
    background-color: rgb(88, 147, 236);
    transform: scale(1.01);
}
.form-login__close {
    display: left;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(62, 120, 167);
    color: rgb(255, 255, 255);   
    transition: background-color 0.3s ease; 
}
.record__form__close:hover {
    background-color: rgb(88, 147, 236);
    transform: scale(1.01);
}
.record__form__close {
    display: left;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(62, 120, 167);
    color: rgb(255, 255, 255);   
    transition: background-color 0.3s ease; 
}

.services__link {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    text-align: center;
    background-color: rgb(62, 120, 167);
    color: rgb(255, 255, 255);
    text-decoration: none;   
    transition: background-color 0.3s ease, transform 0.3s ease; 
}
.services__link {
    background-color: rgb(62, 120, 167);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.services__link:active {
    background-color: #6ba1d8;
}
.services__link:hover {
    background-color: rgb(88, 147, 236);
    transform: scale(1.01);
}