.swiper-slide {
    box-shadow: none;
    border: 1px solid #ebeaea;
    }
    .swiper-button-prev,
    .swiper-button-next {
    color: #0026fd;
    }
    
    .swiper-pagination-bullet-active {
    background: #0059fd;
    }
    
    .swiper-button-prev {
    left: 0;
    }
    
    .swiper-button-next {
    right: 0;
    }